const AppConfig = {
	firebase: {
		"apiKey": "",
		"authDomain": "",
		"databaseURL": "",
		"messagingSenderId": "",
		"projectId": "",
		"storageBucket": ""
	},
	dev: false
};

export default AppConfig;